<div id="index">
  <div class="container-fluid">
  <div class="row">

    <div class="section slider col-sm-12">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-8 col-sm-offset-2">
            <img class="profile" src="/assets/dawn_profile.png" />
        </div>
        <div class="col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <h1>Instantly Access The Hidden Cash In Your Business With<br><span>These 5 Simple Strategies</span></h1>
            <a href="#">Find Out Now</a>
        </div>
      </div>
    </div>
    <div class="section-dark col-sm-12" style="padding-top: .5em; padding-bottom: .5em;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
      
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row press">
              <img class="press-img levin" src="/assets/levin_institute.png" />
              <img class="press-img" src="/assets/forbes.png" />
              <img class="press-img" src="/assets/msnbc.png" />
              <img class="press-img" src="/assets/nytimes_summit.png" />
            </div>
          </div>
        </div>
      </div>
    <div class="section col-sm-12">
      <div class="row">
        <div class="promo-item col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <h1>The <span>Webinar</span></h1>
            <p>
                The best way to quickly discover if The Fletcher Method is the missing piece of your marketing puzzle is to attend our next FREE online workshop. This isn't some fluff-filled sales pitch or boring slideshow session with some dude telling you to "optimize" stuff. This is a real-time valuable hour of proven, actionable strategies, templates and tactics. Your goal should be to leave this workshop fully capable of attracting more clients
            </p>
            <a href="#">Reserve Your Spot</a>
        </div>
        <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1" style="text-align: center;">
            <img class="webinar-photo" src="/assets/AccountingNumberphobc.jpg" />
        </div>
      </div>
    </div>
    <div class="section-dark col-sm-12">
      <div class="row">
        <div class="col-md-4 col-md-offset-1" style="text-align: center;">
            <img class="book-photo" src="/assets/accounting_book.png" />
        </div>
        <div class="promo-item col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <h1>The <span>Book</span></h1>
            <h2><em>A must-read book</em></h2>
            <p>
                If you own your own small business, but hate dealing with numbers and accounting, Accounting for the Numberphobic, A Survival Guide for Small Business Owners by Dawn Fotopulos is a must-read.<br><br>With this step-by-step book, you’ll…
            </p>
            <ul>
              <li>Learn how to tell if your business is definitively showing a profit.</li>
              <li>Know what to before a crisis hits when you’re NOT showing a profit.</li>
              <li>Understand “gross margin” and why it’s the key to running a profitable company.</li>
              <li>Find new and creative no-cost ways to collect on your outstanding invoices.</li>
              <li>Discover exactly how to handle increasing debt and work with your bank.</li>
            </ul>
            <h2><em>Illustrated with wit and humor</em></h2>
            <p>
                Ron Bucalo, a 20 year Disney veteran, illustrates each chapter with wit and humor that makes a brittle topic like accounting fun and engaging to read.
            </p>
            <a href="#">Grab Your Copy</a>
        </div>
      </div>
    </div>
    <div class="section results col-sm-12">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
          <div class="row">
            <div class="col-sm-4">
                <h1>The <span>Results</span></h1>
                <p class="results-text">
                    "These videos are concise — perfect for us business owners with no extra time on our hands. I can get all the information I need in the time it takes to drink my tea in the morning! Dawn’s instructional method is extremely well thought out. She takes complex ideas and turns them into understandable, tangible concepts everyone can grasp."
                </p>
            </div>
            <div class="col-sm-4">
                <h1>The <span>Results</span></h1>
                <p class="results-text">
                    "Small Biz Crash Course is an incredible resource for small business owners. It’s like having a private coach on call. You get all the perspective of a seasoned entrepreneur with fortune 500 experience. The information is practical, insightful, and easy to find when you’re in a hurry. Dawn will make you smarter faster than anyone else in the business."
                </p>
            </div>
            <div class="col-sm-4">
                <h1>The <span>Results</span></h1>
                <p class="results-text">
                    "For me, the ability to watch a short video describing simple accounting fixes is a relief. I don’t have a lot of spare time (who does?) and I also don’t have an MBA. Nonetheless, there are certain business disciplines, like knowing my gross margin, which are crucial to my survival. Every small business owner needs this information."
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <p class="author">
                    <b>Amy Noelle,</b> Cake Designer<br><em>Sugar Flower Cake Shop</em>
                </p>
            </div>
            <div class="col-sm-4">
                <p class="author">
                    <b>Daniela Weis,</b> Founder<br><em>YAFA Marketing and Consulting</em>
                </p>
            </div>
            <div class="col-sm-4">
                <p class="author">
                    <b>Frances Pelzman Liscio,</b> Owner<br><em>Punks and Roses Design</em>
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

