<div id="index" class="container-fluid">
  <div class="row">

    <div class="section slider col-sm-12">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <img class="profile" src="/assets/dawn_profile.png" />
        </div>
        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <h1>WHAT WOULD IT TAKE TO<br><span>DOUBLE YOUR SALES IN THE NEXT 90 DAYS?</span></h1>
            <a href="#">Find Out Now</a>
        </div>
      </div>
    </div>
    <div class="section-dark col-sm-12" style="padding-top: .5em; padding-bottom: .5em;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <img class="press-img" src="http://hiddenprofitprophet.com/wp-content/uploads/2015/03/nytimes.png" />
            </div>
            <div class="col-md-3 col-sm-6">
              <img class="press-img" src="http://hiddenprofitprophet.com/wp-content/uploads/2015/03/washingtonpost.png" />
            </div>
            <div class="col-md-3 col-sm-6">
              <img class="press-img" src="http://hiddenprofitprophet.com/wp-content/uploads/2015/03/nytimes.png" />
            </div>
            <div class="col-md-3 col-sm-6">
              <img class="press-img" src="http://hiddenprofitprophet.com/wp-content/uploads/2015/03/washingtonpost.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section col-sm-12">
      <div class="row">
        <div class="col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-3">
            <h1>The <span>Webinar</span></h1>
            <p>
                The best way to quickly discover if The Fletcher Method is the missing piece of your marketing puzzle is to attend our next FREE online workshop. This isn't some fluff-filled sales pitch or boring slideshow session with some dude telling you to "optimize" stuff. This is a real-time valuable hour of proven, actionable strategies, templates and tactics. Your goal should be to leave this workshop fully capable of attracting more clients
            </p>
            <a href="#">Reserve Your Spot</a>
        </div>
        <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1" style="text-align: center;">
            <img class="webinar-photo" src="/assets/AccountingNumberphobc.jpg" />
        </div>
      </div>
    </div>
    <div class="section-dark col-sm-12">
      <div class="row">
        <div class="col-md-3 col-md-offset-2" style="text-align: center;">
            <img class="book-photo" src="/assets/accounting_book.png" />
        </div>
        <div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3">
            <h1>The <span>Book</span></h1>
            <p>
                Over the years, I have been asked countless times (OK, at least a thousand) by clients to recommend a good book that served as a "primer on online marketing." Each time, I saw the overwhelm that quickly ensued as I produced an encyclopedic list of works on social media, search engine marketing, blogging..ad nauseam.  There wasn't a single resource for busy business owners in desperate need of an introductory book on online marketing. Until now...
            </p>
            <a href="#">Grab Your Copy</a>
        </div>
      </div>
    </div>
    <div class="section results col-sm-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>The <span>Results</span></h1>
            <p class="results-text">
                "Aaron played a critical role is developing advertising strategies at Nolo.com. He built our sales team and developed our sales and marketing processes while supporting product development. He’s smart, creative and fun to work with. His knack for working effectively with diverse personalities and interests truly set him apart...I highly recommend him."
            </p>
        </div>
      </div>
    </div>

  </div>
</div>

