// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#index p {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
.section {
    position: relative;
    padding-top: 2em;
    padding-bottom: 8em;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.section-dark {
    position: relative;
    padding-top: 2em;
    padding-bottom: 8em;
    background: #f3f3f3;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#index .section a, #index .section-dark a, #index .slider a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #444;
    display: inline-block;
    text-decoration: none;
    padding: .5em 2em;
    opacity: .6;
    margin-top: 2em;
    border-radius: .4em;
    border: 3px solid #ffc324;
    background: -webkit-linear-gradient(top, #ffc324 0%, #C79513 100%);
    background: -moz-linear-gradient(top, #ffc324 0%, #C79513 100%);
    background: -ms-linear-gradient(top, #ffc324 0%, #C79513 100%);
    background: -o-linear-gradient(top, #ffc324 0%, #C79513 100%);
    background:  linear-gradient(to bottom, #ffc324 0%, #C79513 100%);
}

#index .section.slider a {
    opacity: 1;
    margin: 2em auto 3em;
}

#index .section.slider a:hover {
    opacity: .6;
}

#index .section a:hover, #index .section-dark a:hover {
    opacity: 1;
}

.section p, .section h1, .section h2, .section h3, .section-dark p, .section-dark h1, .section-dark h2, .section-dark h3 {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
}

.section h1, .section h2, .section-dark h1, .section-dark h2 {
    margin-top: 2em;
}

.section h1 span, .section-dark h1 span {
    font-weight: 700;
}

.section.results {

    p.results-text {
        text-align: left;
    	border-top: 1px solid #dedede;
    	padding-top: 1em;
    	margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    p.author {
        text-align: right;
    }
}



#index .book-photo {
    width: 100%;
    margin-top: 15em;
    position: absolute;
    right:0;
    top: 0;
}

#index .webinar-photo {
    width: 100%;
    max-width: 30em;
    margin-top: 3em;
}

#index .press {
    text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#index .press-img {
    height: 4em;
    display: inline-block;
    margin: 1em;
}

#index .press-img.levin {
    height: 5em;
}

#index .slider {
    background: #000;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border: 0;
}

#index .slider h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1.35em;
    padding: 0em 0 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 300;
}

#index .slider h1 span {
    font-weight: 700;
    font-size: .75em;
}

#index .slider p {
    text-align: center;
}

#index .slider .profile {
    height: 50em;
    display: block;
    margin: -11em auto 0;
}


#index .promo-item {

    h1 {

    }

    h2 {

    }

    ul {

        li {
            font-size: 1.5em;
        }
    }
}





