<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
	              <p>&copy; Copyright 2015 DF Consulting, Inc. All Rights Reserved.</p>
            </div>  
        </div>
    </div>
</footer>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script> -->